html {
    background-color: #227;
} 

body {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    width: 80%;
    padding: 20px;
    background-color: #eeb;
} 

.flexbox-basket {
    display: flex;

}

.flexbox-search {
    display: flex;
    flex-direction: column;
}



table.gridtable {
    color: #337;
    border-width: 1px;
    border-color: #559;
    border-collapse: collapse;
} 

table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background-color: #ccf;
} 

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background-color: #fff;
} 

.btn {
        background-color: #55f;
        color: white;
        border: 4px solid #fff;
        border-radius: 8px;
        text-align: center;
        padding: 5px;
        margin: 5px;
        width: 75px;
        cursor: pointer;
        user-select: none;
        display: inline-block;
} 

.btn:hover{
        background-color: #88f;
}